body {
    background-image: url("img/background.jpg");
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.nav-bar {
    display: grid;
  grid-template-columns: 1fr 80% 1fr;
}

.nav-list {
    color: white;
    text-align: center;
    font-size: 20px;
}
.nav-list ul {
    padding-top: 25px;
}
.logo {
    color: white;
    text-align: center;
    font-size: 25px;
}

ul li {
    display: -webkit-inline-box;
}
.hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }
  .hamburger-icon {
    align-self: center;
}